<section class="products">
  <div class="container mx-auto">
    <div class="rounded-md shadow-sm lg:flex md:flex sm:flex hidden" role="group">
      <button (click)="getAll()" type="button"
        class="block py-2 px-6 text-sm font-medium text-gray-900 bg-white rounded-l-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        All
      </button>
      <button (click)="getPrdByCat('Laptops')" type="button"
        class="block py-2 px-6 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        Labtops
      </button>
      <button (click)="getPrdByCat('Phones')" type="button"
        class="block py-2 px-6 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        Phones
      </button>
      <button (click)="getPrdByCat('Cameras')" type="button"
        class="block py-2 px-6 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        Cameras
      </button>
      <button (click)="getPrdByCat('Make Up')" type="button"
        class="block py-2 px-6 text-sm font-medium text-gray-900 bg-white rounded-r-md border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        Make Up
      </button>
    </div>

    <!-- Dropdown menu for Mobile -->
    <div class="DropdownCont">
      <button #btnDrop (click)="openDropMobile(dropDown)" id="dropdownDefault" data-dropdown-toggle="dropdown"
        class="lg:hidden md:hidden sm:hidden text-white bg-brand hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">
        {{ btnDropVal
        }}<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div #dropDown id="dropdown"
        class="dropdown lg:hidden md:hidden sm:hidden hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
        data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
          <li>
            <a (click)="getAll(dropDown)"
              class="block py-2 px-4 hover:bg-gray-100 hover:cursor-pointer dark:hover:bg-gray-600 dark:hover:text-white">All</a>
          </li>
          <li>
            <a (click)="getPrdByCat('Laptops', dropDown)"
              class="block py-2 px-4 hover:bg-gray-100 hover:cursor-pointer dark:hover:bg-gray-600 dark:hover:text-white">Labtops</a>
          </li>
          <li>
            <a (click)="getPrdByCat('Phones', dropDown)"
              class="block py-2 px-4 hover:bg-gray-100 hover:cursor-pointer dark:hover:bg-gray-600 dark:hover:text-white">Phones</a>
          </li>
          <li>
            <a (click)="getPrdByCat('Cameras', dropDown)"
              class="block py-2 px-4 hover:bg-gray-100 hover:cursor-pointer dark:hover:bg-gray-600 dark:hover:text-white">Cameras</a>
          </li>
          <li>
            <a (click)="getPrdByCat('Make Up', dropDown)"
              class="block py-2 px-4 hover:bg-gray-100 hover:cursor-pointer dark:hover:bg-gray-600 dark:hover:text-white">Make
              Up</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="lg:grid md:grid grid-cols-12 gap-10 prContainer">
      <ng-container *ngIf="!loading">
        <ng-container *ngFor="
          let product of Products
            | paginate: { itemsPerPage: 6, currentPage: page }
        ">
          <app-product class="product lg:col-span-4 md:col-span-6 shadow-lg pb-5" [product]="product"></app-product>
        </ng-container>
      </ng-container>
      <div role="status" *ngIf="loading" class="loader">
        <svg aria-hidden="true" class="text-gray-200 animate-spin dark:text-gray-600 fill-red-700" viewBox="0 0 100 101"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"></path>
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"></path>
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
  </div>
</section>



<!-- <div class="product lg:col-span-4 md:col-span-6 shadow-lg pb-5">
          <img routerLink="/Product/{{ product.id }}" [src]="product.imgSrc" />
          <div class="prCategory text-gray-500 text-2xl">
            {{ product.category }}
          </div>
          <div class="prName font-medium text-xl">{{ product.name }}</div>
          <div class="prPrice font-semibold text-xl">
            {{ product.price | currency: "EGP" }}
          </div>
          <button class="addToCart" (click)="isAdded=true" *ngIf="!isAdded">
            ADD TO CART
          </button>
          <div *ngIf="isAdded">
            <input type="number" class="p-2 w-1/3">
            <button class="addToCart" (click)="addToCart(product)">
              ADD TO CART
            </button>
          </div>
        </div> -->
