<section class="about container mx-auto grid grid-cols-12">
  <div class="lg:col-span-6 col-span-12" data-aos="fade-left">
    <img src="../../../assets/Images/H&M-Logo.svg.png" alt="" class="aboutImg">
  </div>
  <div class="lg:col-span-6 col-span-12 m-6" data-aos="fade-right">
    <strong class="text-3xl">About Us</strong>
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy</div>
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release</div>
    <br>
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release</div>
    <div class="btn">Learn More</div>
  </div>
</section>
