<section class="home">
  <div class="layOut text-white flex justify-start items-center">
    <div class="lg:w-3/5 md:w-4/5 px-4">
      <h1 class="text-6xl font-bold lg:mx-10">the new collection of handBags</h1>
      <h3 class="lg:mx-10 my-6 w-4/5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy Lorem Ipsum has been the industry's standard dummy
      </h3>
    </div>
  </div>
</section>
<!-- <app-products></app-products> -->
