@import '../../../styles.scss';
.home  {
  height: 88vh;
  background: url(../../../assets/Images/bgHome.jpg) no-repeat;
  background-size:cover;
  background-position: 50%;
  color: $brandColor;
  .layOut {
    background-color: rgba($color: black, $alpha: .55);
    height:100%;
    width: 100%;
    z-index: -1;
    div {
        @media (max-width:567px) {
          h1{
            font-size: 30px;
          }
        }
        .bg-mainColor {
          height: fit-content;
          background-color: $brandColor;
          cursor: pointer;
          transition: .04s ease-in-out;
          padding: 16px 24px;
          font-size: 20px;
          width: fit-content;
        }
        .bg-mainColor:first-child {
          background-color: transparent;
          border: 2px solid $brandColor;
        }
        .bg-mainColor:hover{
          background-color: transparent;
          outline: 3px solid $brandColor;
        }
        .bg-mainColor:first-child:hover {
          background-color: $brandColor;
          outline: none;
        }
    }
    @media (max-width:640px) {
      div {
        align-items: center;
      }
      .bg-mainColor:first-child {
        margin: 10px 0;
      }
    }
  }
}
