@import '../../../styles.scss';
.header {
  background-color: $mainColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  nav {
    height: 12vh;
    width: 100%;
    overflow-x: hidden;
  }
}
.bg-brand {
  background-color: $brandColor;
  color: white;
}
