<!-- This example requires Tailwind CSS v2.0+ -->
<header class="header">
  <nav data-aos="fade-bottom">
    <div class="container mx-auto h-full flex justify-around items-center max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative w-full">
        <div class="grid grid-cols-12">
          <div class="col-span-4 flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="../../../assets/Images/H&M-Logo.svg.png" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block" src="../../../assets/Images/H&M-Logo.svg.png" alt="Your Company">
          </div>
          <div class="col-span-2"></div>
          <div class="col-span-6 hidden sm:ml-6 lg:block">
            <ul class="flex justify-around items-center h-full space-x-8">
              <li *ngFor="let link of Links">
                <a [routerLink]="link.link" routerLinkActive="bg-brand" class="px-3 py-2 rounded-md text-sm font-medium hover:text-gray-500" aria-current="page">{{link.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
          <!-- Mobile menu button-->
          <button type="button" (click)="openNavMobile(mobileMenue)" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-slate-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
  </nav>
  <div #mobileMenue class="hidden lg:hidden text-center" id="mobile-menu">
    <ul *ngFor="let link of Links" class="space-y-1 px-2 pt-2 pb-3">
      <a [routerLink]="link.link" routerLinkActive="bg-brand" class="block px-3 py-2 rounded-md text-base font-medium hover:text-gray-500" aria-current="page">{{link.name}}</a>
    </ul>
  </div>
</header>











<!-- <header class="header">
  <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center">
      <a routerLink="/" class="flex items-center">
          <img src="assets/Images/logo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
        <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 text-white">
          <li *ngFor="let link of Links">
            <a [routerLink]="link.link" class="block py-2 pr-4 pl-3 rounded hover:text-slate-500 md:hover:bg-transparent md:border-0 md:p-0">{{link.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->
