@import '../../../styles.scss';
.myAccount{
  div{
    div{
      div{
        div{
          .bg-brand {
            background-color: $brandColor;
          }
          .bg-brand:hover {
            background-color: rgb(155, 3, 3);
          }
          div{
            div{
              .img{
                background-color: $brandColor;
                color: white;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
}
